doctype 5
html
  head
    title= title
    link(rel='stylesheet', media='screen', href='/bootstrap/css/bootstrap.css')
    style
       body {
          padding-top: 60px
       }
  body
    block content
    script(src="http://code.jquery.com/jquery.js")
    script(src="/bootstrap/js/bootstrap.min.js")